<form action="https://formspree.io/xjvywnpw"
  method="POST" class="pure-form pure-form-stacked">
		
		 <input type="hidden" name="_replyto" value="sp0r7en@gmail.com">
		<h2>Contact</h2>
		
		
		<p>
		First Name
		<input type="text" name="Last name">
		 </p>
		
			<p>
		Surname
		<input type="text" name="Surname">
		 </p>
		
		
		<p>
		e-mail
		<input type="text" name="Last name">
		 </p>
			
		
		
		<p>
		
		<input type="submit" value="Submit"  class="button-success pure-button">
			
			
		 </p>
		
	</form>
